@import 'vars';
@import 'global';
@import 'fonts';


//start header

.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 30px;
    span{
        color: $red;
    }
}
.header__btn{
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register{
    background-color: $red;
    margin-left: 7px;
}
.header__menu{
    background-color: $bg;
}
.menu{
    height: 60px;
    display: flex;
    align-items: center;
}
.menu__list{  
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }    
    }
    a{ 
        color: #fff;
        font-size: 14px;
    }
}

//end header
//start search

.search{
    min-height: 530px;
}

.search__inner{
    padding: 150px 0 150px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    &-title{
        font-size: 48px;
        font-weight: 700;
    }
    &-text{
        font-size: 20px;
        margin: 35px 0 55px; 
        font-weight: 500;  
    }
    &-form{  
        max-width: 670px;   
        margin: 0 auto;
        position: relative;
        input{  
            width: 100%;     
             height: 56px; 
             border-radius: 4px;
             box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
             border: none;
             padding-left: 25px;
             padding-right: 60px;
        }
        &::placeholder{
            color: #90a4ae;
            font-size: 14px;
            font-weight: 500;
        }
        button{ 
            position: absolute;
            background-color: transparent;
            border: none;
            right: 20px;       
            top: 19px;
        }
    }
    
}

//end header
//start products

.products{
    background-color: $grey;
    padding: 110px 0;
}

.products__btn{
    margin-bottom: 55px;
    text-align: center;
    button{
        font-size: 14px;
        font-weight: 500;
        background-color: #fff;
        padding: 13px 21px;
        border: none;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            color: #fff;
            background-color: $red;
        } 
    }
}

.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item{
    max-width: 442px;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    background-color: #fff;
    margin-bottom: 30px;
    &-img{
        min-height:250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 90px;
        padding: 0 30px;
        border-bottom: 1px solid $grey;
    }
        a{
            display: block;
        }
    &-title{
        font-size: 18px;
        font-weight: 500;
        color: $bg;
    }
     &-category{
        color: $green;
        font-weight: 500;
        font-size: 14px;
    }
    &-name{
        min-width: 350px;
    }
    &-price{
        font-size: 20px;
         font-weight: 700;
        color: $bg;
    }
    &-info{
        min-height: 70px;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-author{    
        min-width: 300px;
        a{
            display: flex;
            align-items: center;
        }
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
        }
        span{
            font-size: 14px;
            color: #546e7a;
            display: block;
            margin-left: 10px;
        }
    }
    
}

.products__bottom-btn{
    text-align: center;
    button{
        margin: 70px 10px 0px;
        background-color: #fff;
        border: none;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        padding: 20px 30px;
        font-size: 16px;
        color: $bg;
        cursor: pointer;
    }
}



//end products