@import 'vars';
@import 'global';
@import 'fonts';


//start header

.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text{
    margin-left: auto;
    margin-right: 30px;
    span{
        color: $red;
    }
}
.header__btn{
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header__btn-login{
    background-color: $green;
}
.header__btn-register{
    background-color: $red;
    margin-left: 7px;
}
.header__menu{
    background-color: $bg;
}
.menu{
    height: 60px;
    display: flex;
    align-items: center;
}
.menu__list{  
    li{
        display: inline-block;
        & + li{
            margin-left: 30px;
        }    
    }
    a{ 
        color: #fff;
        font-size: 14px;
    }
}

//end header
//start search

.search{
    min-height: 530px;
}

.search__inner{
    padding: 150px 0 150px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    &-title{
        font-size: 48px;
        @include f700;
    }
    &-text{
        font-size: 20px;
        margin: 35px 0 55px; 
        @include f500;  
    }
    &-form{  
        max-width: 670px;   
        margin: 0 auto;
        position: relative;
        input{  
            width: 100%;     
             height: 56px; 
             border-radius: 4px;
             box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
             border: none;
             padding-left: 25px;
             padding-right: 60px;
        }
        &::placeholder{
            color: #90a4ae;
            font-size: 14px;
            @include f500;
        }
        button{ 
            position: absolute;
            background-color: transparent;
            border: none;
            right: 20px;       
            top: 19px;
            cursor: pointer;
        }
    }
    
}

//end header
//start products

.products{
    background-color: $grey;
    padding: 110px 0;
}

.products__btn{
    margin-bottom: 55px;
    text-align: center;
    button{
        font-size: 14px;
        @include f500;
        background-color: #fff;
        padding: 13px 21px;
        border: none;
        cursor: pointer;
        & + button{
            margin-left: 5px;
        }
        &.mixitup-control-active{
            color: #fff;
            background-color: $red;
        } 
    }
}

.products__inner-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item{
    max-width: 442px;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    background-color: #fff;
    margin-bottom: 30px;
    &-img{
        min-height:250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
    }
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 90px;
        padding: 0 30px;
        border-bottom: 1px solid $grey;
    }
        a{
            display: block;
        }
    &-title{
        font-size: 18px;
        @include f500;
        color: $bg;
    }
     &-category{
        color: $green;
        @include f500;
        font-size: 14px;
    }
    &-name{
        min-width: 350px;
    }
    &-price{
        font-size: 20px;
        @include f700;
        color: $bg;
    }
    &-info{
        min-height: 70px;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-author{    
        max-width: 245px;
        a{
            display: flex;
            align-items: center;
        }
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
        }
        span{
            font-size: 14px;
            color: #546e7a;
            display: block;
            margin-left: 10px;
        }
    }
    &-star{
        span{
            color: $bg;
        }
    }
    
}

.products__bottom-btn{
    text-align: center;
    button{
        margin: 70px 10px 0px;
        background-color: #fff;
        border: none;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        padding: 20px 30px;
        font-size: 16px;
        color: $bg;
        cursor: pointer;
    }
}

.jq-ry-normal-group{
    display: none;
}

//end products
//start product-slider

.product-slider{
    padding: 120px 0;
    .slick-dots{
        text-align: center;
        li{
            display: inline-block;
            margin-right: 3px;
            margin-left: 3px;
            &.slick-active{
                button{
                   background-color: $green; 
                }
                
            }
            button{
                border-radius: 50%;
                width: 16px;
                height: 16px;
                cursor: pointer;
                font-size: 0;
                background-color: #e8e8e8;
                border: none;
            }
        }
    }
}

//end product-slider
//start advantages

.advantages{
    background-color: $bg;
    padding: 115px 0;
    &__title{
        color: #fff;
        font-size: 36px;
        @include f700;
    }
}

.advantages__inner{
    display: flex;
    justify-content: space-between;   
}

.advantages__item{
    &:hover{
        .advantages__item-img{
            background-color: $green;
            svg{
                fill: #fff;
                enable-background: #fff;
            }
        }
        .advantages__item-title{
            color: $green;
        }
    }
    & + div{
        margin-left: 80px;
    }
    text-align: center;
    &-img{
        width: 113px;
        height: 113px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    &-title{
        @include f500;
        color: #fff;
        font-size: 24px;
        line-height: 60px; 
    }
    &-text{
        color: #b0bec5;
    }
}

//end advantages
//start author
.author{
    background-image: url(../images/author-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 750px;
    &__box{
        background-color: $green;
        display: flex;
        justify-content: space-between;
        padding: 70px 60px 80px;
        align-items: center;
    }
    &__title{
        max-width: 270px;
        color: #fff;
        font-size: 30px;
        line-height: 36px;
        margin-right: 45px;
        span{
            @include f700;
            margin: 0 5px;
        }
    }
    &__link{
         background-color: #fff; 
         padding: 23px 44px;
         color: $bg;    
         font-size: 18px;
    }
}

//end author
//start tutorial
.tutorial{
    padding: 75px 0 160px;
    &__inner{
        display: flex;
        justify-content: space-between;
        max-width: 370px;
        img{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 270px;
        }
    }
    &__item{
        margin: 0 15px;
    }
    &__text{
        @include f700;
        font-size: 24px;
        line-height: 60px;
        color: $bg;
        text-align: center;
        background-color: #f8f8f8;
        padding-bottom: 20px;
    }
}

//end tutorial
//start footer

.footer{
    background-color: $bg;
    &__inner{
        padding: 110px 0 90px;
        display: flex;
        justify-content: space-between;
    }
    &__col{
        max-width: 280px;
        width: 100%;
        &-title{
            @include f700;
            font-size: 22px;
            line-height: 24px;
            color: #fff;
            padding-bottom: 26px;
            position: relative;
            margin-bottom: 30px;
            &::before{
                content: '';
                width: 51px;
                height: 3px;
                background-color: $green;
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
        &-text{
            margin-bottom: 35px;
            color: #b7c3c8;
        }
        &-info{
            padding-left: 30px;
            color: #fff;
            @include f500;
            position: relative;
            margin-top: 20px;
            &::before{
                content: "\f041";
                position: absolute;
                font-family: 'icomoon';
                left: 0;
                color: $green;
                font-size: 18px;
            }
            & + a::before{
                content: "\f095";
            }
        }
        &-menu{
        max-width: 230px;
        }
        &-list{
            li + li{
                margin-top: 20px;
            }
            a{
              padding-left: 22px;
              position: relative;
              color: #b7c3c8;
              &::before{
                content: "\f105";
                font-family: "icomoon";
                position: absolute;
                left: 0;
                color: $green;
                font-size: 18px;
              }  
            }
            
        }
    
    }
}

.footer__col-social {
    li{
        display: inline-block;
        & + li{
           margin-left: 7px; 
        }  
    }
    a{
        width: 28px;
        height: 28px;
        background-image: url(../images/icons/css_sprites.png);
    }   
       
    
 }

.footer__col-twitter { 
    width: 28px;
    height: 28px;
    background-image: url(../images/icons/css_sprites.png);
    background-position: -28px 0;
}

.footer__col-youtube { 
    width: 28px;
    height: 28px;
    background-image: url(../images/icons/css_sprites.png);
    background-position: 0 -28px;
}

.footer__col-pinterest { 
    width: 28px;
    height: 28px;
    background-image: url(../images/icons/css_sprites.png);
    background-position: -28px -28px;
}

.footer__col-linkedin {
    width: 28px;
    height: 28px;
    background-image: url(../images/icons/css_sprites.png);
    background-position: -56px 0;  
 }

.footer__form{
     margin-top: 30px;
     position: relative;
     &-title{
         color: #fff;
         font-size: 20px;
         line-height: 36px;
    }
    input{
         padding-left: 13px;
         padding-right: 50px;
         background-color: #2f3c43;
         border: none;
         width: 100%;
         height: 40px;
         color: #fff;
         display: block;
            &::placeholder{
                 color: #697378;       
            }
    }
    button{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 43px;
        height: 40px;
        background-color: $green;
        cursor: pointer;
        border: none;
        &::after{
            content: "\f124";
            font-family: "icomoon";
            font-size: 20px;
            color: #fff;
        }
    }
 }
 .footer__copy{
     text-align: center;
     border-top: 1px solid #424d53;
     padding: 18px 0 22px;
     &-text{
        color: #919699;
     }
 }


//end footer